<div>
    <h2>Create Cart</h2>
    <form id='createCartForm' method='post'>
        Product Id: <input type='string' name='productIdInCreation' id='productIdInCreation'>
        <input type='submit' value='Create'>
    </form>
</div>

<div>
    <h2>Add Products to Cart</h2>
    <form id='updateCartForm'>
        Cart Id: <input type='string' name='updatingCartId' id='updatingCartId'>
        Product Id: <input type='string' name='productIdInUpdate' id='productIdInUpdate'>
        <input type='submit' value='Add'>
    </form>
</div>

<div>
    <h2>Delete Cart</h2>
    <form id='deleteCartForm'>
        Id: <input type='string' name='deletingCartId' id='deletingCartId'>
        <input type='submit' value='Delete'>
    </form>
</div>

<div>
    <h2>Carts Available</h2>
    <table id='cTable'>
        <thead>
            <tr>
                <th>Cart Id</th>
                <th>Products Id</th>
            </tr>
        </thead>
        <tbody>
            {{#each carts}}
            <tr>
                <td>{{_id}}</td>
                <td>{{productsInCart}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div>
    <h2>Products Available</h2>
    <table id='rtpTable'>
        <thead>
            <tr>
                <th>Products Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Code</th>
                <th>Price</th>
                <th>Status</th>
                <th>Stock</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{_id}}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{code}}</td>
                <td>{{price}}</td>
                <td>{{status}}</td>
                <td>{{stock}}</td>
                <td>{{category}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/carts.js'></script>