{{!-- <div>
    <h2>Create User</h2>
    <form id='createUserForm' method='post'>
        Name: <input type='text' name='name' id='userName'>
        Email: <input type='email' name='email' id='userEmail'>
        Password: <input type='password' name='password' id='userPassword'>
        <input type='submit' value='Create'>
    </form>
</div> --}}

<div>
    <h2>Update User</h2>
    <form id='updateUserForm' method='post'>
        Id: <input type='text' name='name' id='userIdUpdate'>
        Name: <input type='text' name='name' id='userNameUpdate'>
        Email: <input type='email' name='email' id='userEmailUpdate'>
        {{!-- Password: <input type='password' name='password' id='userPasswordUpdate'> --}}
        Is Admin: <input type='boolean' name='isAdmin' id='userIsAdminUpdate'>
        Cart Id: <input type='text' name='cart' id='userCartUpdate'>
        <input type='submit' value='Update'>
    </form>
</div>

<div>
    <h2>Delete User</h2>
    <form id='deleteUserForm'>
        Id: <input type='string' name='deletingUserId' id='deletingUserId'>
        <input type='submit' value='Delete'>
    </form>
</div>

<div>
    <h2>Users Available</h2>
    <table id='usersTable'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Is Admin</th>
                <th>Cart Id</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{_id}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{isAdmin}}</td>
                <td>{{cart}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div>
    <h2>Carts Available</h2>
    <table id='cTable'>
        <thead>
            <tr>
                <th>Cart Id</th>
                <th>Products</th>
            </tr>
        </thead>
        <tbody>
            {{#each productsArray}}
                <tr>
                    <td>{{this._id}}</td>
                    {{#each this.products}}
                        <td>{{this.title}}</td>
                        <td>${{this.price}} </td>
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/users.js'></script>
<script src='/js/carts.js'></script>