<div>
    <h2>Here are the details of your order:</h2>
    <table id='ticketsTable'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Purchaser</th>
                <th>Date</th>
                <th>Products</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{_id}}</td>
                <td>{{code}}</td>
                <td>{{purchaser}}</td>
                <td>{{date}}</td>
                {{#each cart.products}}
                    <td>{{cart.products.title}}</td>
                    <td>${{cart.products.price}}</td>
                    <td>{{cart.products.quantity}}</td>
                {{/each}}
            </tr>
        </tbody>
    </table>
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/carts.js'></script>